canvas{
    background: transparent;
}

body {
    background: rgb(26, 26, 26);
  }

#screen{
    position: fixed;
    top: 40px;
    left: 40px;
    bottom: 40px;
    right: 40px;
    padding: 40px;
    box-sizing: border-box;
    border: 4px solid rgb(201, 201, 201);
}